body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.header{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 130px;
	background: #FFAC12;
}

.boxhead{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	background: rgba(255,255,255,.4);
	padding: 25px 10px;
}

.formwicon{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 40px;
	width: auto;
	overflow: hidden;
	background: #fff;
	margin-left: 5px;
	padding: 0px 10px;
}

.formwicon i{
	margin-right: 5px;
}

.formwicon.start-round{
	border-radius: 5px 0px 0px 5px;
}

.formwicon.end-round{
	border-radius: 0px 5px 5px 0px;
}

.form{
	display: block;
	outline: none;
	font-size: 15px;
	font-family: sans-serif;
	border:none;
}

.form.f1{
	width: 125px;
}

.form.f2{
	width: 110px;
}

.form.f3{
	width: 60px;
}

.change{
	display: block;
	margin-left: 5px;
}

.btn{
	display: block;
	width: auto;
	height: 40px;
	padding: 0px 15px;
	color: #fff;
	outline: none;
	cursor: pointer;
	border-radius: 5px;
	background: #36558F;
	border:1px solid #36558F;
	margin: 0px 5px;
	font-size: 15px;
	font-family: sans-serif;
}

.main{
	display: flex;
	flex-direction: row;
	margin: 10px 170px 10px 205px;
}

.content{
	display: block;
	width: 50%;
	height: auto;
	overflow: hidden;
}

nav{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 45px;
	border-bottom: 1px solid #ccc;
}

nav a{
	display: flex;
	text-decoration: none;
	justify-content: flex-start;
	align-items: center;
	outline: none;
	color: #333;
	font-weight: bold;
	width: 25%;
	height: 42px;
	border-bottom: 3px solid transparent;
}

nav a i{
	margin-right: 10px;
	color: #FFAC12;
	font-size: 20px;
}

nav a.active{
	border-bottom: 3px solid #36558F;
}

.form-select{
	display: inline;
	width: auto;
	height: auto;
	padding: 5px 0px;
	margin: 15px 10px 0px 0px;
	font-size: 15px;
	border:none;
	outline: none;
	color: #7E9ACE;
	background-color: #fff;

}
option {
	text-decoration: none;
	background-color: #36558F;
}
h2{
	color: #1F3152; /*BLEU FONCE*/ 
	/*color: #7E9ACE;  BLEU CLAIRE */
}

.yellow{
	color: #FFAC12;
}

.boxitem{
	display: block;
	margin-bottom: 10px;
	height: auto;
	border-radius: 5px;
	background: #7E9ACE;
	padding: 5px 15px;
}
.itemx {
     margin: 5px;
}
.hbox{
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 50px;
}

.hbox .logo img{
	height: 50px;
	width: auto;
	margin-right: 10px;
}

.hbox .nom{
	display: block;
	margin-right: 10px;
	font-weight: bold;
}

.hbox .type{
	color: #1F3152;
}

.bodbox{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 15px;
}

.detail{
	display: block;
	margin-top: 8px;
	font-size: 14px;
	color: #1F3152;
}

.fbox{
	display: flex;
	align-items: center;
	width: 100%;
	height: 40px;
}

.nplace{
	display: block;
	width: auto;
	height: auto;
	padding:5px;
	color: #fff;
	/*background: rgba(0,0,0,.2);*/
	background: #1F3152;
	float: left;
	border-radius: 5px;
}

.map {
	margin: 10px 20px;
	width: 50%;
}

.price{
	color: #1F3152;
}

@media all and (max-width:900px) {
	.header {
		width: 100%;
	}
}
@media all and (max-width:450px) {
	.header {
		width: 100%;
	}
}
@media all and (max-width:1000px) {
	.boxhead{
		width: 100%;
	}
	.header{
		width: 100%;
	}
}
@media all and (max-width:1000px) {
	.boxhead{
		width: 100%;
	}
	.header{
		width: 100%;
	}
}
@media all and (max-width:450px) {
	.boxhead{
		width: 100%;
	}
}
@media all and (max-width:1300px) {
	.main {
		display:block;
	}
}
@media all and (max-width:800px) {
	.form.f1{
		width: 40px;
	}
	
	.form.f2{
		width: 40px;
	}
	
	.form.f3{
		width: 40px;
	}
	
}

@media all and (max-width:1300px) {
	.content{
			display: block;
			width: 100%;
			height: auto;
			overflow: hidden;
		
		
	}

}
@media all and (max-width:1050px) {
	.divselectbox{
			width: 100%;
				
	}
	
}


@media all and (max-width:650px) {
	.content{
			display: block;
			width: 100%;
			height: auto;
			overflow: hidden;
		
	}
}
@media all and (max-width:450px) {
	.content{
			display: block;
			width: 350px;
			height: auto;
			overflow: hidden;
		
	}
}
@media all and (max-width:650px) {
	.boxitem{
		display: block;
		margin-bottom: 10px;
		height: auto;
		border-radius: 5px;
		background: #7E9ACE;
		padding: 5px 10px;
		width: 100%;
	}
	
	.hbox{
		display: flex;
		flex-direction: row;
		align-items: center;
		height: 50px;
	}
	
	.hbox .logo img{
		height: 50px;
		width: auto;
		margin-right: 7px;
	}
	
	.hbox .nom{
		display: block;
		margin-right: 7px;
		font-weight: bold;
	}
	
	.hbox .type{
		color: #1F3152;
	}
	
	.bodbox{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding-bottom: 15px;
		margin: 10px;
	}
	
	.detail{
		display: block;
		margin-top: 8px;
		font-size: 14px;
		color: #1F3152;
	}
	
	.fbox{
		display: flex;
		align-items: center;
		width: 100%;
		height: 40px;
	}
	
	.nplace{
		display: block;
		width: auto;
		height: auto;
		padding:5px;
		color: #fff;
		/*background: rgba(0,0,0,.2);*/
		background: #1F3152;
		float: left;
		border-radius: 5px;

	}
	.map {
		width: 50%;
		margin-left: auto;
		margin-right: auto;
	}
	
}

@media all and (max-width:1050px) {
	.main {
		width: 100%;
		display: block;
	}
	.map{
		width: 100%;
	}
}
@media all and (max-width:1000px) {
	.main {
		width: 100%;
		display: block;
	}
	.map{
		width: 100%;
	}
}
/*@media all and (max-width:600px) {
	.main {
		width: 100%;
		display: block;
	}
}
@media all and (max-width:650px) {
	.boxitem {	
		width: 100%;
	}
	.main {
		width: 100%;
			display: block;	
			margin: 0;	
	}
}
*/

@media all and (max-width:400px) {
	.main {
		width: 100%;
		display: block;
	}
}
@media all and (max-width:1050px) {
	.main {
		width: 100%;
			display: block;	
			margin: 0;	
	}
	.map{
		width: 50%;
		margin-left: auto;
			margin-right: auto;
	}
	.content{
			display: block;
			width: 50%;
			height: auto;
			overflow: hidden;
			margin-left: auto;
			margin-right: auto;
		
		
	}

}
@media all and (max-width:850px) {
	.main {
		width: 100%;
			display: block;	
	}
	.map{
		width:100%;
	}
	.content{
			display: block;
			width: 50%;
			height: auto;
			overflow: hidden;
			margin-left: auto;
			margin-right: auto;
		
		
	}
	iframe{
		width: 450px;
		margin-left: 200px;
	}

}
@media all and (max-width:700px) {
	.main {
		width: 100%;
		display: block;
		margin: 0;
	}
	.boxitem{
		display: block;
		margin-bottom: 10px;
		height: auto;
		border-radius: 5px;
		background: #7E9ACE;
		padding: 5px 10px;
		width: 100%;
	}
	
	.hbox{
		display: flex;
		flex-direction: row;
		align-items: center;
		height: 50px;
	}
	
	.hbox .logo img{
		height: 50px;
		width: auto;
		margin-right: 7px;
	}
	
	.hbox .nom{
		display: block;
		margin-right: 7px;
		font-weight: bold;
	}
	
	.hbox .type{
		color: #1F3152;
	}
	
	.bodbox{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding-bottom: 15px;
		margin: 10px;
	}
	
	.detail{
		display: block;
		margin-top: 8px;
		font-size: 14px;
		color: #1F3152;
	}
	
	.fbox{
		display: flex;
		align-items: center;
		width: 100%;
		height: 40px;
	}
	
	.nplace{
		display: block;
		width: auto;
		height: auto;
		padding:5px;
		color: #fff;
		/*background: rgba(0,0,0,.2);*/
		background: #1F3152;
		float: left;
		border-radius: 5px;

	}
	.map{
		width:100%;
	}
	.content{
			display: block;
			width: 50%;
			height: auto;
			overflow: hidden;
			margin-left: auto;
			margin-right: auto;
		
		
	}
	iframe{
		width: 400px;
		margin-left: 150px;
	}
}
@media all and (max-width:650px) {
	.main {
		width: 100%;
		display: block;
		margin: 0;
	}
	.boxitem{
		display: block;
		margin-bottom: 10px;
		height: auto;
		border-radius: 5px;
		background: #7E9ACE;
		padding: 5px 10px;
		width: 100%;
	}
	
	.hbox{
		display: flex;
		flex-direction: row;
		align-items: center;
		height: 50px;
	}
	
	.hbox .logo img{
		height: 50px;
		width: auto;
		margin-right: 7px;
	}
	
	.hbox .nom{
		display: block;
		margin-right: 7px;
		font-weight: bold;
	}
	
	.hbox .type{
		color: #1F3152;
	}
	
	.bodbox{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding-bottom: 15px;
		margin: 10px;
	}
	
	.detail{
		display: block;
		margin-top: 8px;
		font-size: 14px;
		color: #1F3152;
	}
	
	.fbox{
		display: flex;
		align-items: center;
		width: 100%;
		height: 40px;
	}
	
	.nplace{
		display: block;
		width: auto;
		height: auto;
		padding:5px;
		color: #fff;
		/*background: rgba(0,0,0,.2);*/
		background: #1F3152;
		float: left;
		border-radius: 5px;

	}
	.map{
		width:100%;
		
		
	}
	.content{
			display: block;
			width: 50%;
			height: auto;
			overflow: hidden;
			margin-left: auto;
			margin-right: auto;
		
		
	}
	iframe{
		width: 400px;
		margin-left: 120px;
	}
}
@media all and (max-width:600px) {
	.main {
		width: 100%;
		display: block;
	}
	.content{
		display: block;
		width: 70%;
		height: auto;
		overflow: hidden;
		
}
nav{
	display: flex;
	flex-direction: row;
	width: 50%;
	height: 45px;
	border-bottom: 1px solid #ccc;
}

nav a{
	display: flex;
	text-decoration: none;
	justify-content: flex-start;
	align-items: center;
	outline: none;
	color: #333;
	font-weight: bold;
	width: 200px;
	height: 42px;
	border-bottom: 3px solid transparent;
}
	.boxitem{
		display: block;
		margin-bottom: 10px;
		height: auto;
		border-radius: 5px;
		background: #7E9ACE;
		padding: 5px 10px;
		width: 100%;
	}
	
	.hbox{
		display: flex;
		flex-direction: row;
		align-items: center;
		height: 50px;
	}
	
	.hbox .logo img{
		height: 50px;
		width: auto;
		margin-right: 7px;
	}
	
	.hbox .nom{
		display: block;
		margin-right: 7px;
		font-weight: bold;
	}
	
	.hbox .type{
		color: #1F3152;
	}
	
	.bodbox{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding-bottom: 15px;
		margin: 10px;
	}
	
	.detail{
		display: block;
		margin-top: 8px;
		font-size: 14px;
		color: #1F3152;
	}
	
	.fbox{
		display: flex;
		align-items: center;
		width: 100%;
		height: 40px;
	}
	
	.nplace{
		display: block;
		width: auto;
		height: auto;
		padding:5px;
		color: #fff;
		/*background: rgba(0,0,0,.2);*/
		background: #1F3152;
		float: left;
		border-radius: 5px;

	}
	.map{
		width:100%;
		margin-left: 15px;
	}
	iframe{
		width: 350px;
		margin-left: 80px;
	}
}
@media all and (max-width:450px) {
	.main {
		width: 100%;
			display: block;
			flex-direction: row;
	}
}

@media all and (max-width:450px) {
	.boxitem{
		display: block;
		margin-bottom: 10px;
		height: auto;
		border-radius: 5px;
		background: #7E9ACE;
		padding: 5px 10px;
		width: 100%;
	}
	.itemx {
			margin-right: 20px;
	}
}

@media all and (max-width:450px) {
	body {
		width: 100%;
	}
	.map {
		width: 100%;
	}
}
/*@media all and (max-width:600px) {
	.form.f1{
		width: 10px;
	}
	
	.form.f2{
		width: 10px;
	}
	
	.form.f3{
		width: 5px;
	}
	
}*/
@media all and (max-width:450px) {
	.content {
		width: 90%;
		
	}
	.map {
		width: 100%;
		margin-left: 20px;
	}
	iframe{
		width: 335px;
		margin-left: 0px;
	}
	.boxhead{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		border-radius: 5px;
		background: rgba(255,255,255,.4);
		padding: 25px 10px;
		font-size: 10px;
		width: 100%;
		margin: 2px;
	}
	.formwicon{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		height: 40px;
		width: auto;
		overflow: hidden;
		background: #fff;
		margin-left: 1px;
		padding: 0px 1px;
	}
	.formwicon i{
		margin-right: 2px;
	}
	
	.form{
		display: block;
		outline: none;
		font-size: 10px;
		font-family: sans-serif;
		border:none;
	}
	
	.form.f1{
		width: 100%;
		
	}
	
	.form.f2{
		width: 100%;
	}
	
	.form.f3{
		width: 100%;
	}
	
}
@media all and (max-width:380px) {
	.header {
		width: 100%;
	}
	.map {
		width: 100%;
	}
}
@media all and (max-width:350px) {
	.boxhead {
		width: 100%;
	}
	.map {
		width: 100%;
	}
	.boxitem{
		display: block;
		margin-bottom: 10px;
		height: auto;
		border-radius: 5px;
		background: #7E9ACE;
		padding: 5px 10px;
		width: 100%;
	}
	.itemx {
			margin-right: 20px;
	}
}

@media all and (max-width:450px) {
	body {
		width: 100%;
	}
	.map {
		width: 100%;
	}
}
/*@media all and (max-width:600px) {
	.form.f1{
		width: 10px;
	}
	
	.form.f2{
		width: 10px;
	}
	
	.form.f3{
		width: 5px;
	}
	
}*/
@media all and (max-width:450px) {
	.content {
		width: 90%;
		
	}
	.map {
		width: 100%;
		margin-left: 20px;
	}
	iframe{
		width: 335px;
		margin-left: 0px;
	}
	.boxhead{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		border-radius: 5px;
		background: rgba(255,255,255,.4);
		padding: 25px 10px;
		font-size: 10px;
		width: 100%;
		margin: 2px;
	}
	.formwicon{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		height: 40px;
		width: auto;
		overflow: hidden;
		background: #fff;
		margin-left: 1px;
		padding: 0px 1px;
	}
	.formwicon i{
		margin-right: 2px;
	}
	
	.form{
		display: block;
		outline: none;
		font-size: 10px;
		font-family: sans-serif;
		border:none;
	}
	
	.form.f1{
		width: 100%;
		
	}
	
	.form.f2{
		width: 100%;
	}
	
	.form.f3{
		width: 100%;
	}
	
}
